body {
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: white; */
    font-family: sans-serif;
    line-height: 1.4;
    /* color: #333; */
    /* background-size: cover; */
}

body::before {    
    content: "";
    background-image: url("../../assets/AlienCat.png");
    background-size: contain;
    position: absolute;
    top: -60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
}

/* Layout */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Props */
#dhead {
    margin-top: 20px;
}
#dpic {
    grid-column: span 6;
    text-align: right;
}
#ddesc {
    padding-top: 50px;
    grid-column: span 5;
    text-align: center;
}
@media (max-width: 991px) {
    #dpic {
      grid-column: span 12;
      text-align: center;
    }
    #ddesc {
      grid-column: span 12;
      padding-top: 20px;
    }
}
h1 {
    font-size: 34px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
#ddesc span {
    font-weight: normal;
    font-style: italic;
    color: #999;
    font-size: 18px;
    padding: 0;
    margin: 5px 0 10px 0;
}
@media (min-width: 992px) {
    h2 {
        max-width: 300px;
    }
}
#dpic img {
    width: 240px;
    height: 240px;
    border-radius: 120px;
}
.iico {
    width: 40px;
    height: 40px;
}
#demail {
    margin-top: 10px;
    color: #555;
    /* opacity: 0; */
    transition: opacity 0.7s;
}
hr {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    padding: 0;
    /* margin: 20px 0px 20px 0px; */
    border: 0;
}
.ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
}
.ico img {
    border-radius: 5px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
}
.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

/* .entry {
} */

.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid #eee;
}
.timespan {
    grid-column: span 1;
    font-size: 16px;
    text-align: center;
    padding-right: 5px;
    color: gray;
}
.hassets {
    position: relative;
}
@media (max-width: 991px) {
    .hassets {
        display: none;
    }
}
.hasset {
    position: absolute;
    margin: 0;
    padding: 0;
}
.ctitle {
    font-size: 30px;
    color: gray;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-top: 10px;
}

.csubtitle {
    font-size: 20px;
    color: gray;
    margin-top: 10px;
}

#featured-talks .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
}
.card {
    width:50vw;
    grid-column: span 3;
    vertical-align: top;
    background-color: inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    padding-bottom: 10px;
}
@media (max-width: 991px) {
    .card {
        grid-column: span 6;
    }
    #featured-talks .row {
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}
.card img {
    border-radius: 5px;
    width: 100%;
}
.cdesc {
    height: 30px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 18px;
}
@media (max-width: 768px) {
    .cdesc {
        font-size: 14px;
        padding-bottom: 10px;
    }
}
#pet-projects .row {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.project {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.pico {
    float: left;
    margin-right: 10px;
}
.pdesc {
    margin-top: 2px;
    text-align: justify;
    text-align-last: left;
    font-size: 18px;
}
.pend {
    clear: both;
}

.pop-out
{
    transition: transform .2s;
}

.pop-out:hover
{
    -ms-transform: translateZ(0); /* IE 9 */
    -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
    transform: translateZ(0);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(3);
    transform-origin: left;
}

.pico img {
    height: 80px;
    border-radius: 5px;
    border: 1px solid #999;
}
.pub {
    font-size: 14px;
    border-left: 4px solid #aaa;
    padding: 2px 0px 2px 10px;
    margin-bottom: 10px;
}
.pub-title {
    font-size: 18px;
    display: inline;
    color: #333;
}
.pub-venue {
    display: inline;
    /* color: #090; */
}
.pub-authors {
    display: block;
    /* color: #900; */
}
.tul {
    text-align: justify;
    padding: 0;
}
.til {
    display: inline-block;
    padding: 3px 15px 3px 15px;
    margin-bottom: 5px;
}
.tilb {
    border-right: 1px solid #ccc;
}
.nodot {
    list-style-type: none;
    padding-left: 0;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* li {
    width:50vw;
  } */

.about {
    width:65hw;
    font-size: 18px;
  }

.title {
font-weight: bold;
}

.subtitle {
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
    }

.subtext {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
a {
    /* text-decoration: none; */
    /* color: palevioletred; */
    color: #1f78b4;
}

/* Clear floats after the columns */
.project .row{
    display: flex;
  }

.card{
    margin: 10px;
    padding-left: 20px;
    background-color: inherit;
  }

.signature{
    color: white;
    background-color: #756bb1;
    border: 0.4px solid black;
    opacity: 0.8;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px 5px 10px 5px;
    font-family: "Chalkduster";
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:18px ;
}

svg {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    gap: 10px;
    /* grid-template-columns: 25% 25% 25% 25%; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: inherit;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 10px;
  }
  
  .grid-item {
    padding: 10px;
    text-align: left;
    display: inline-flex;
  }

  .grid-item span{
    display: block;
    margin:5px;
  }
  .grid-container img {
    border-radius: 5px;
    width: auto;
    height: 75px;
}

.background {
    fill: none;
    pointer-events: all;
  }
  
  path {
    fill: none;
    /* stroke: #333; */
    stroke: #41ab5d
  }
